<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">

    <!-- Caminho para usar os ícones da Font-Awesome -->
    <link   rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" 
            integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" 
            crossorigin="anonymous"
    />
    <title>About me</title>
</head>
<body id="bodyAbouteMe">
    <header class="specialHeader">
        <a href="#" class="logo">#100DaysOfCode || My Journey</a>
        <div class="menu">
            <ul>
                <li><a href="../../index.html" class="active">Home</a></li>
                <li><a href="./challenge.html">The Challenge</a></li>
                <li><a href="./aboutMe.html">About Me</a></li>
                <li><a href="./myJournal.html">My Journey</a></li>
                <!-- <li><a href="./contact.html">Contact</a></li> -->
            </ul>
        </div>
    </header>

    <section class="bannerPersonal">
        <div class="text">
            <h1>Hello World, <br>I'm <span>Anderson Amicuchi</span></h1>
            <p> I'm 37, I'm married to Tati and a proud father of a handsome boy.
                <br>I'm Brazilian and live in Ribeirão Preto, in the state of São Paulo.
                <br>I'd say that I'm quiet open-minded. 
                <br>Like to think that I'm a problem-solver, because that's what I like to do.
                <br>I really like to hanging out with my friends at home.
                <br>I'm considerate. Like to see people for what they are, not just what they show.
                <br>I'm an adventurous person.
                <br>Love spending time in the nature, hiking and walking.
                <br>Also love to play paintball and practice Muay Thai.
            </p>
        </div>
    </section>

    <footer>
        <li><a href="https://www.linkedin.com/in/amicuchi/" id="linkedin"></a></li>
        <li><a href="https://github.com/Amicuchi" id="github"></a></li>
        <li><a href="https://www.instagram.com/andersonamicuchi/" id="instagram"></a></li>
    </footer>
</body>
</html>