<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">

    <!-- Caminho para usar os ícones da Font-Awesome -->
    <link   rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" 
            integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" 
            crossorigin="anonymous"
    />

    <title>About The Challenge</title>
</head>
<body class="otherBodies bannerChallenge">
    <header class="specialHeader">
        <a href="#" class="logo">#100DaysOfCode || My Journey</a>
        <div class="menu">
            <ul>
                <li><a href="../../index.html" class="active">Home</a></li>
                <li><a href="./challenge.html">The Challenge</a></li>
                <li><a href="./aboutMe.html">About Me</a></li>
                <li><a href="./myJournal.html">My Journey</a></li>
                <!-- <li><a href="./contact.html">Contact</a></li> -->
            </ul>
        </div>
    </header>

    <section class="otherSection">
        <div class="containerATC">
            <h1>More about the challenge</h1>
            <small>Nerver forget to access the Official Website of The Challenge.</small> <br>
            <a href="https://www.100daysofcode.com/">100 Days of Code Official Website</a>
            <br><br>

            <h2>Rules</h2>
            <strong>The main rule: Code minimum an hour every day for the next 100 days.</strong>
            <p>Learn more about the main rules, as well as some other considerations.</p> <br>
            <ul>
                <li>Code for minimum an hour a day</li>
                <li>Tweet your progress daily with the hashtag: #100DaysOfCode</li>
                <li>Each day, reach out to at least two people on Twitter who are also doing the challenge</li>
            </ul>
            <br><br>
            <hr>
            <br><br>
            <h2>Benefits: What the #100DaysOfCode can do for you</h2><br>
            <ul>
                <li>Coding will become a daily habit for you — a habit that you can easily maintain after you’ve finished the challenge.</li> <br>
                <li>Every day that you consistently code, you’ll build momentum. That momentum will make it easier for you to learn more advanced topics. You won’t have to spend extra time trying to remember what you did previously. You can stay in the “flow” of coding.</li> <br>
                <li>You’ll make friends and meet like-minded people who are also working through this challenge alongside you. They’ll help you find the strength to keep coding even on the days when you don’t feel like you’re making progress. They can also help you when you inevitably get stuck.</li> <br>
                <li>The projects that you’ll build will be small in scope, so by the time you finish, you’ll have completed several of them — and gained a wide range of experience.</li> <br>
                <li>If you were just working through tutorials, you wouldn’t have much to show for it. But with #100DaysOfCode, you’ll build real portfolio projects that you can show to potential employers and share with your family.</li> <br>
                <li>These projects will give you practice with concepts that frequently come up during developer job interviews.</li> <br>
                <li>Your GitHub profile will look extremely active. And yes, hiring managers and recruiters do look at these.</li> <br>
                <li>You’ll greatly diminish your fear of starting a new coding project. It will become a natural, ordinary thing to do.</li> <br>
                <li>You’ll have a good reason to stop procrastinating and start coding every day.</li>
            </ul>
        </div>
        <br><br>
    </section>
    
    <footer>
        <li><a href="https://www.linkedin.com/in/amicuchi/" id="linkedin"></a></li>
        <li><a href="https://github.com/Amicuchi" id="github"></a></li>
        <li><a href="https://www.instagram.com/andersonamicuchi/" id="instagram"></a></li>
    </footer>
</body>
</html>