<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">

    <!-- Caminho para usar os ícones da Font-Awesome -->
    <link   rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" 
            integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" 
            crossorigin="anonymous"
    />

    <title>Document</title>
</head>
<body>
    <header class="otherHeaders">
        <a href="#" class="logo">#100DaysOfCode || My Journey</a>
        <div class="menu">
            <ul>
                <li><a href="../../index.html" class="active">Home</a></li>
                <li><a href="./challenge.html">The Challenge</a></li>
                <li><a href="./aboutMe.html">About Me</a></li>
                <li><a href="./myJournal.html">My Journey</a></li>
                <!-- <li><a href="./contact.html">Contact</a></li> -->
            </ul>
        </div>
    </header>

    <section>
        <h1>100 days of code</h1>
        <h3>My Personal Website for the Challenge</h3>
    </section>
    


    <footer>
        <li><a href="https://www.linkedin.com/in/amicuchi/" id="linkedin"></a></li>
        <li><a href="https://github.com/Amicuchi" id="github"></a></li>
        <li><a href="https://www.instagram.com/andersonamicuchi/" id="instagram"></a></li>
    </footer>
</body>
</html>