<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">

    <!-- Caminho para usar os ícones da Font-Awesome -->
    <link   rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" 
            integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" 
            crossorigin="anonymous"
    />
    <title>My Journal of this Journey</title>
</head>
<body id="bodyJournal">
    <header class="specialHeader">
        <a href="#" class="logo">#21DaysOfCode || My Journey</a>
        <div>
            <ul>
                <li><a href="../../index.html" class="active">Home</a></li>
                <li><a href="./challenge.html">The Challenge</a></li>
                <li><a href="./aboutMe.html">About Me</a></li>
                <li><a href="./myJournal.html">My Journey</a></li>
                <!-- <li><a href="./contact.html">Contact</a></li> -->
            </ul>
        </div>
    </header>


    <main class="bannerJourney">
        <h1>21 Days Of Code - Log</h1>
        <h2>This is the journal of the my journey</h2> <br /><br />
        
        <article>
            <p><strong>Dia 0: </strong>01 de junho de 2021</p>
            <p><strong>Projeto do dia: </strong>Definição do que será feito ao longo dos próximos dias no desafio.</p>
            <p><strong>Aprendizados: </strong>
                Eu só conheci o site oficial do desafio, cerca de 15 dias depois de ter começado a codar loucamente. <br />
                Eu achava que bastava pegar projetos diversos e fazer para praticar e aprender, mas vi que a proposta do projeto é que a coisa toda seja um pouco mais bem estruturada. <br />
                Apesar de que eu já tenha selecionado diversos projetos que eu tenha gostado e pretenda fazê-los nos próximos dias, vou fazer conforme "manda o figurino". <br />
                Sem essa organização inicial, o trabalho todo seria bem mais complicado. Ficou evidente que organizar e seguir o plano será essencial nessa jornada.
            </p>
        </article>

        <article>
            <p><strong>Dia 1: </strong>02 de junho de 2021</p>
            <!-- <div class="contentBox"> -->
                <!-- <img class="imgPreview" src="../../day01_VideoSliderWebsite/screens/2.png" /> -->
                <!-- <div class="contentTxt"> -->
                    <p><strong>Projeto do dia: </strong>HTML | CSS | JS >> Video Slider Website</p>
                    <p><strong>Aprendizados: </strong>O que aprendi com esse projeto.</p>
                    <p><strong>Link do trabalho: </strong><a href="../../day01_VideoSliderWebsite/index.html">Acesse aqui</a></p>
                <!-- </div> -->
            <!-- </div> -->
        </article>

        <article>
            <p><strong>Dia 2: </strong>03 de junho de 2021</p>
            <p><strong>Projeto dia: </strong>HTML | CSS >> Glass Effect</p>
            <p><strong>Aprendizados: </strong>O que aprendi </p>
            <p><strong>Link do trabalho: </strong><a href="../../day02_GlassEffect/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 3: </strong>04 de junho de 2021</p>
            <p><strong>Projeto dia: </strong>HTML | CSS | JS >> Focus Parallax Effect</p>
            <p><strong>Aprendizados: </strong>O que aprendi </p>
            <p><strong>Link do trabalho: </strong><a href="../../day03_Focus-ParallaxEffect/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 4: </strong>05 de junho de 2021</p>
            <p><strong>Projeto dia: </strong>HTML | CSS | JS >> Parallax Scrolling Effect</p>
            <p><strong>Aprendizados: </strong>O que aprendi </p>
            <p><strong>Link do trabalho: </strong><a href="../../day04_ParallaxScrollingEffect/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 5: </strong>06 de junho de 2021</p>
            <p><strong>Projeto dia: </strong>HTML | CSS | JS >> Glassmorphism Card Hover Effect</p>
            <p><strong>Aprendizados: </strong>O que aprendi </p>
            <p><strong>Link do trabalho: </strong><a href="../../day05_GlassmorphismCardHoverEffects/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 6: </strong>07 de junho de 2021</p>
            <p><strong>Projeto dia: </strong>HTML | CSS | JS >> Glassmorphism</p>
            <p><strong>Aprendizados: </strong>O que aprendi </p>
            <p><strong>Link do trabalho: </strong><a href="../../day06_GlassmorphismWebsite/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 7: </strong>08 de junho de 2021</p>
            <p><strong>Projeto dia: </strong>HTML | CSS | JS >> Netflix Clone</p>
            <p><strong>Aprendizados: </strong>O que aprendi </p>
            <p><strong>Link do trabalho: </strong><a href="../../day07_Netflix_Clone/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 8: </strong>09 de junho de 2021</p>
            <p><strong>Projeto dia: </strong>HTML | CSS | JS >> Netflix Landing Page</p>
            <p><strong>Aprendizados: </strong>O que aprendi </p>
            <p><strong>Link do trabalho: </strong><a href="../../day08_Netflix_LandingPage/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 9: </strong>10 de junho de 2021</p>
            <p><strong>Projeto dia: </strong>HTML | CSS | JS >> Glassmorphism Battery Level</p>
            <p><strong>Aprendizados: </strong>O que aprendi </p>
            <p><strong>Link do trabalho: </strong><a href="../../day09_GlassmorphismBatteryLevel/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 10: </strong>11 de junho de 2021</p>
            <p><strong>Projeto dia: </strong>HTML | CSS >> Download of Everything</p>
            <p><strong>Aprendizados: </strong>
                Esse projeto é bastante simples, já que usei apenas HTML e CSS.
                A proposta dele era só praticar, sem ter um objetivo final específico.
                Foi bem diferente de fazer um clone do Netflix, por exemplo.
            </p>
            <p><strong>Link do trabalho: </strong><a href="../../day10_DownloadOfEverything/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 11: </strong>12 de junho de 2021</p>
            <p><strong>Projeto do dia: </strong>HTML | CSS | JS >> Filterable Image Gallery</p>
            <p><strong>Aprendizados: </strong>
                Usar o JS combinado ao CSS para manipulação da DOM é bem interessante. 
                Faz a página ficar muito mais interessante.
            </p>
            <p><strong>Link do trabalho: </strong><a href="../../day11_FilterableImageGallery/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 12: </strong>13 de junho de 2021</p>
            <p><strong>Projeto do dia: </strong>Responsive CSS Grid</p>
            <p><strong>Aprendizados: </strong>
                O principal aprendizado foi sobre a organização do grid. 
                Aprendi sobre o Grid Template, tanto para linhas e colunas. 
                Ainda sobre templates, aprendi sobre o posicionamento dos itens no grid e como 
                isso tudo se comporta se a responsividade do site não for bem definida.
                Apesar do conteúdo ter sido bem simples e rápido, valeu o tempo investido.
            <p><strong>Link do trabalho: </strong><a href="../../day12_ResponsiveCssGrid/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 13: </strong>14 de junho de 2021</p>
            <p><strong>Projeto do dia: </strong>CSS >> Image Gallery Blur Hover Effect</p>
            <p><strong>Aprendizados: </strong>
                Esse projeto acabou se mostrando bem mais desafiador do que parecia
                no início. 
                Isso aconteceu por que eu ainda não sei como trablahar com SCSS, então acabei 
                preferindo adaptar tudo para CSS, o que acabou me trazendo mais dificuldades do que 
                o próprio projeto apresentava. 
                De qualProjetoira, acredito que tenha sido proveitoso por que eu tive que pesquisar 
                efeitos que não conhecia.
                Além disso, acabei adaptando o grid do SCSS para o grid do CSS que estudei no dia anterior.
            </p>
            <p><strong>Link do trabalho: </strong><a href="../../day13_ImageGalleryBlurHoverEffect/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 14.1: </strong>15 de junho de 2021</p>
            <p><strong>Projeto do dia: </strong>Ink Splash Video Manipulation</p>
            <p><strong>Aprendizados: </strong>
                Esse projeto foi bastante simples, mas teve um resultado final muito bonito. 
                Com ele, aprendi que podemos sobrepor os videos e fazer um ficar transparente em relação ao outro.
                Por mais simples que pareça, achei muito legal. 
                Espero que você goste do resultado.
            </p>
            <p><strong>Link do trabalho: </strong><a href="../../day14-1_InkSplashVideoManipulation/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 14.2: </strong>15 de junho de 2021</p>
            <p><strong>Projeto do dia: </strong>Realistic Checkbox Button</p>
            <p><strong>Aprendizados: </strong>
                Esse projeto trouxe diversas propriedades que eu ainda não conhecia, nem tinha visto. 
                Como, por exemplo, "<strong>input[type="checkbox"]</strong>", foi uma novidade bem interessante. 
                Outra propriedade interessante foi a 'inset', que é utilizada na box-shadow. 
                Uma outra propriedade foi a <strong>"input[type="checkbox"]:checked ~.icon"</strong>. 
                Fala sério, que propriedade massa. Isso eleva o nível do CSS à um novo patamar. 
                Também revi a propriedade @keyframe, que nos permite configurar o comportamento do evento/efeito. 
                Olha... Eu curti demais fazer essa página. Me trouxe alguns conhecimentos bem legais. 
                Espero que você também goste!
            </p>
            <p><strong>Link do trabalho: </strong><a href="../../day14-2_RealisticCheckboxButton/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 14.3: </strong>15 de junho de 2021</p>
            <p><strong>Projeto do dia: </strong>Creative Our Team Section</p>
            <p><strong>Aprendizados: </strong>
                Esse projeto não trouxe grandes novidades. 
                Apenas pegou conceitos que eu já conhecia e colocou no mesmo lugar. 
                Foi legal. 
                Serviu bem ao propósito de praticar um conteúdo importante que não pode ser esquecido.
                Independente da dificuldade, o resultado ficou legal. 
                Espero que goste!
            </p>
            <p><strong>Link do trabalho: </strong><a href="../../day14-3_CreativeOurTeamSection/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 15: </strong>16 de junho de 2021</p>
            <p><strong>Projeto do dia: </strong>Responsive Resume Website</p>
            <p><strong>Aprendizados: </strong>
                O código de hoje não trouxe novidades no quesito de código. 
                Serviu principalmente para revisão de CSS e incentivar a criatividade no momento de criação.
            </p>
            <p><strong>Link do trabalho: </strong><a href="../../day15_ResponsiveResumeWebsite/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 16.1: </strong>17 de junho de 2021</p>
            <p><strong>Projeto do dia: </strong>Animated Parallax Water Wave Effects</p>
            <p><strong>Aprendizados: </strong>
                O projeto de hoje, foi uma revisão da propriedade <strong>animation</strong> do CSS. 
                O HTML fo extremamente simples. 
                O Javascript apresentou um código simples, porém bastante criativo. 
                Vejo o código de hoje como uma boa demonstração de que para ficar criativo, não precisa ser complexo. 
            </p>
            <p><strong>Link do trabalho: </strong><a href="../../day16.1_AnimatedParallaxWaterWaveEffects/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 16.2: </strong>17 de junho de 2021</p>
            <p><strong>Projeto do dia: </strong>Abstract Background Generator</p>
            <p><strong>Aprendizados: </strong> 
                Esse projeto foi, para mim, uma revisão do método <strong>setInterval</strong> do Javascript. 
                Isso, porque na proposta inicial do projeto, não havia a repetição automática, mas 
                por meio de botão. 
                Eu achei que tirar o botão e permitir que o código ficasse repetindo automaticamente 
                seria mais elegante, por isso, revi o método setInterval. 
                Fazendo isso, ainda dexei o código mais limpo e curto, o que, para mim, também foi 
                uma conquista importante. 
                Além de alterar o código proposto no tutorial, ver a criatividade de criar a animação 
                trouxe um aprendizado interessante. 
                Espero que goste do resultado, assim como eu gostei.
            </p>
            <p><strong>Link do trabalho: </strong><a href="../../day16.2_AbstractBackgroundGenerator/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 16.3: </strong>17 de junho de 2021</p>
            <p><strong>Projeto do dia: </strong><a href="https://youtu.be/Bst-EZHpuD8?list=PL_uozyBhSLnPuJJ1skLSDuF8y2pmDvhk6">Blog Article Cards</a></p>
            <p><strong>Aprendizados: </strong>
                Esse projeto teve seu foco, principalmente, na organização do html. 
                Apesar de toda a beleza do resultado deixar o CSS bastante evidente, 
                a grande preocupação foi em olhar para o projeto no Figma e perceber qual seria a melhor 
                maneira de organizar cada parte do design. 
                No CSS, a preocupação foi em como manter um padrão de cores, utilizando assim, 
                a opção de "root" para definir esse padrão.
            </p>
            <p><strong>Link do trabalho: </strong><a href="../../day16.3_BlogArticleCards/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 17: </strong>18 de junho de 2021</p>
            <p><strong>Projeto do dia: </strong><a href="https://youtu.be/YmyqlM13JUU">Animated card</a></p>
            <p><strong>Aprendizados: </strong>
                Nesse projeto, a proposta foi de clonar apenas um card do site PopDog.com. 
                O site original é feito em React.JS e nesse projeto, o clone foi feito apenas em HTML e CSS. 
                Tive a oportunidade de ver uma nova perspectiva de como organizar o HTMl 
                para exibir todos os conteúdos necessários. 
                Também aprendi um novo efeito de transição e como gerar esses efeitos, utilizando 
                o site  <a href="https://bennettfeely.com/clippy/">CSS Clip Path Maker</a>. 
            </p>
            <p><strong>Link do trabalho: </strong><a href="../../day17_PopdogCardClone/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 18.1: </strong>19 de junho de 2021</p>
            <p><strong>Projeto do dia: </strong><a href="https://www.youtube.com/watch?v=mW0Z1T8l7sU&list=WL">Glassmorphism Login Form</a></p>
            <p><strong>Aprendizados: </strong>
                O projeto de hoje, foi relativamente simples, porém, o resultado final ficou bem legal. 
                Os quadrados animados, o fundo borrado, a leveza do layout deixaram um visual interessante de se usar em outro momento, em outro projeto. 
                Rever a propriedade Keyframes é uma coisa importante, já que essa propriedade nos permite 
                configurar a animação utilizada.
            </p>
            <p><strong>Link do trabalho: </strong><a href="../../day18-1_GlassmorphismLoginForm/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 18.2: </strong>19 de junho de 2021</p>
            <p><strong>Projeto do dia: </strong><a href="https://www.youtube.com/watch?v=Hua1OSXitdQ&list=WL">Snake Game com JavaScript</a></p>
            <p><strong>Aprendizados: </strong>
                Já que programação precisa ser divertida, para completar o dia de hoje, resolvi fazer um projeto que fosse divertido. 
                Então, apareceu o "jogo da cobrinha". Achei bem interessante. 
                Bem mais difícil do que eu conseguiria fazer sozinho atualmente, mas bastante enriquecedor. 
                Penso, sinceramente, em voltar nele no futuro para incrementar algumas coisas. 
                Por exemplo, falta fazer uma contagem de pontos, que eu acho que seria bem legal e não me parece que seja difícil, 
                já que bastará criar uma variável para armazenar um valor crescente a cada vez que a cabeça da cobrinha encontra a maçã. 
                Enfim... se você estiver disposto a pegar esse código e incrementar, depois me conta como foi.
            </p>
            <p><strong>Link do trabalho: </strong><a href="../../day18-2_SnakeGame/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 19: </strong>20 de junho de 2021</p>
            <p><strong>Projeto do dia: </strong><a href="https://www.youtube.com/watch?v=3VEbigWyakg&list=WL">Calculadora</a></p>
            <p><strong>Aprendizados: </strong>
                O projeto trouxe uma breve prática de Bootstrap, mas o foco foi em Javascript. 
                A captura do clique nos botões e a diferença entre botões que devem interagir 
                com funções e os que não precisam deixou evidente como podemos simplificar ou não o código. 
                Também ficou evidente que no caso de uso recursivo de funções, é melhor manter o código mais 
                limpo possível, criando novas funções que chamarão diversas outras. 
                Como foi o caso da criação da função "acabaComTudo", que foi criada porque diversas outras 
                eram chamadas em mais de um lugar. 
                No geral, foi um projeto interessante, que ainda tem alguns pontos que podem ser melhorados. 
                Provavelmente, ainda voltarei a fazer outra Calculadora para praticar e quem sabe, conseguir 
                deixar o código mais limpo. <br>
                Importante lembrar que o código é altamente comentado pois o projeto é feito para 
                aprendizado. Assim, mesmo funções que sejam quase autoexplicativas, foram comentadas.
            </p>
            <p><strong>Link do trabalho: </strong><a href="../../day19_calc/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 20: </strong>21 de junho de 2021</p>
            <p><strong>Projeto do dia: </strong><a href="https://www.youtube.com/watch?v=n3Kx5Eg2Hlw">Memory Game</a></p>
            <p><strong>Aprendizados: </strong>
                O jogo da memória, pode parecer simples, mas foi um projeto bastante desafiador. 
                Infelizmente, o código apresentou uma instabilidade que eu não consegui resolver. 
                Quando o usuário encontra a carta par, da primeira selecionada, ambas ficam viradas, mas 
                quando clica na terceira carta, a anterior também desvira. Assim, o jogo nunca tem fim. 
                Revisei a lógica do código, mas não consegui encontrar o problema. 
                Fica assim, se você resolver recriar esse projeto e conseguir encontrar o erro, me avise.
            </p>
            <p><strong>Link do trabalho: </strong><a href="../../day20_MemoryGame/index.html">Acesse aqui</a></p>
        </article>

        <article>
            <p><strong>Dia 21: </strong>22 de junho de 2021</p>
            <p><strong>Projeto do dia: </strong><a href="https://www.youtube.com/watch?v=Rk4J-d7sPKQ">Memory Game 2</a></p>
            <p><strong>Aprendizados: </strong>
                Um projeto mais simples e mais fácil de entender que o anterior. 
                Parte do desenvovimento foi feito em CSS, o que me deixou mais confortável com o desenvolvimento. 
                O código em JS foi relativamente autoexplicativo, com o conceito de micro funções para cada coisa. 
                Problemas que ficaram para serem resolvidos futuramente: 
                (i) Faltou uma maneira de reiniciar o jogo. 
                Acredito que uma contagem de pontos resolva essa necessidade sem grandes problemas. 
                Ou até mesmo um botão para cumprir essa função. 
                (ii) Faltou um Timer. Uma função simples deve resolver isso. 
            </p>
            <p><strong>Link do trabalho: </strong><a href="../../day21_MemoryGame2/index.html">Acesse aqui</a></p>
        </article>
    </main>

    <footer>
        <li><a href="https://www.linkedin.com/in/amicuchi/" id="linkedin"></a></li>
        <li><a href="https://github.com/Amicuchi" id="github"></a></li>
        <li><a href="https://www.instagram.com/andersonamicuchi/" id="instagram"></a></li>
    </footer>
</body>
</html>